@use "../../SCSS/Abstracts/index" as A;

.cartProviderListItem {
  display: flex;
  flex-flow: column;
  gap: 3rem;
}

.buttonContainer {
  height: fit-content;
  padding-block-start: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: .5rem;

  &__item {
    padding: 1rem 2rem;
    border-radius: 3rem;
    transition: all 300ms ease-in-out;
    @include A.hover {
      border: none;
      transition: all 300ms ease-in-out;
    }

    &--payment {
      border: none;
      background-color: map-get(A.$Colors, dark);
      color: map-get(A.$Colors, whitePrimary);
      @include A.hover {
        border: .1rem solid map-get(A.$Colors, dark);
        background-color: map-get(A.$Colors, whitePrimary);
        color: map-get(A.$Colors, dark);
        transition: all 300ms ease-in-out;
      }
    }
    &--cancel {
      border: .1rem solid map-get(A.$Colors, dark);
      background-color: map-get(A.$Colors, whitePrimary);
      color: map-get(A.$Colors, dark);
      @include A.hover {
        border: none;
        background-color: map-get(A.$Colors, dark);
        color: map-get(A.$Colors, whitePrimary);
        transition: all 300ms ease-in-out;
      }
    }
  }
}
.totalPrice {
  height: min(6vh, 6em);
  margin-block: 1rem .5rem;
  padding-inline: 1rem;
  @include A.flexBox(row, space-between, center);
  background-color: hsl(336, 100%, 99%);
  border: .1rem solid hsl(242, 14%, 63%);
  border-radius: .3rem;
  color: map-get(A.$Colors, redScheme, 'red-1');
}