@use "../../SCSS/Abstracts/index" as A;
.productItem {
  width: min(30vw, 35rem);
  padding: 2rem .95em;
  & > * {
    @include A.flexBox( row, center, center);
  }
  & .image__container {
    width: 100%;
    img {
      max-width: 100%;
      object-fit: cover;
    }
  }
  &__content {
    color: #07387d;
  }
  &__content,
  &__price {
    width: 100%;
    height: fit-content;
    padding-block-start: 2rem;
    //font-size: clamp(1.6rem, 0.5vw, 2em);
  }
  &__price {
    display: flex;
    & * {
      flex: 1;
    }
    & .btn {
      @include A.flexBox(row, center, center, .15rem);
      border-radius: 1rem;
      border: .2rem solid hsl(0, 0%, 18%);
      padding: .8rem 1rem;
      & svg {
        flex: 1 1 auto;
      }
      & span {
        flex: 2 1 auto;
      }
    }
  }
}