$BaseSize: 1rem;
$lineHeight: 1.5;
$fontWeight: (
        tiny: 300,
        small: 400,
        medium: 500,
        large: 600,
        Xlarge: 700,
        XXlarge: 900
);
$spacing: (
        SB: space-between,
        SA: space-around,
        SE: space-evenly,
        FE: flex-end,
        FS: flex-start
)